<% layout('layouts/boilerplate') -%>

    <body>
        <H3>ALL LISTINGS</H3>
        <div class="row row-cols-lg 3 row-cols-md 3 row-cols-sm 1">
            <% for(let listing of allListings) { %>
                <div class="card listing-card" style="width: 25rem;">
                    <a href="/listings/<%=listing._id%>" class="listing-link">
                        <img src="<%=listing.img%>" class="card-img-top" alt="listing" style="height:20rem ;">
                        <div class="card-img-overlay">overlay</div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%=listing.title%>
                                </b> <br>
                                <!-- This will display "0" if price is null. -->
                                &#8377 <%=(listing.price || 0).toLocaleString("en-IN")%> / night
                            </p>
                    </a>


                </div>
        </div>
        <% } %>
            </div>


    </body>