<% layout('layouts/boilerplate') -%>


    <body>

        <div class="row">
            <div class="col-md-8 offset-2 ">
                <br>
                <h3><b>Create Your New listing</b></h3>
                <br>
                <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data"
                    novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label"><b>Title :</b></label>
                        <input class="form-control" id="title" name="listing[title]" type="text" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Title.
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="desc" class="form-label"><b>Description :</b></label>
                        <input class="form-control" id="desc" name="listing[description]" type="text" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Description.
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="location" class="form-label"> <b>Location :</b> </label>
                            <input class="form-control" id="location" name="listing[location]" type="text" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Location.
                            </div>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="Country" class="form-label"><b>Country :</b></label>
                            <input class="form-control" id="Country" name="listing[country]" type="text" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Country.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="img" class="form-label"><b>Upload Img:</b></label>
                        <input class="form-control" type="file" name="listing[img]">
                        required
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label"><b>Price :</b></label>
                        <input class="form-control" id="price" name="listing[price]" type="number" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid price.
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-dark add-btn">ADD</button>
                    <br>
                    <br>
                    <br><br>
                </form>
            </div>

        </div>

    </body>